@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

*{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#login{
    width: 100vw;
    height: 100vh;
}

#login_img{
    width: 50vw;
    height: 100vh;
}
#logo{
    position: absolute;
    top: 22vh;
    right: 19vw;
}
#slogan{
    position: absolute;
    top: 30vh;
    right: 15vw;
    font-size: 1.6vw;
}

.gwalho{
    font-size: 2vw;
    color: #FF5C35;
}

#open{
    position: absolute;
    top: 33.4vh;
    right: 29.5vw;
}

#close{
    position: absolute;
    top: 33.4vh;
    right: 20.3vw;
}

#login-label{
    position: absolute;
    top: 47vh;
    right: 32vw;
}
#pwd-label{
    position: absolute;
    top: 58vh;
    right: 32vw;
}

#logintype{
    position: absolute;
    top: 50vh;
    right: 9vw;
    width: 25vw;
    height: 7vh;
    border-radius: 10px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}
#pwdtype{
    position: absolute;
    top: 61vh;
    right: 9vw;
    width: 25vw;
    height: 7vh;
    border-radius: 10px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

#welecome{
    position: absolute;
    top: 75vh;
    right: 9vw;
    display: block;
    width: 25vw;
    height: 7vh;
    font-size: 18px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
}

#findid{
    position: absolute;
    top: 84vh;
    right: 25vw;
    font-size: 15px;
    background-color: white;
    border: none;
    color: #7D7272;
    cursor: pointer;
}
#findpwd{
    position: absolute;
    top: 84vh;
    right: 19vw;
    font-size: 15px;
    background-color: white;
    border: none;
    color: #7D7272;
    cursor: pointer;
}
#join{
    position: absolute;
    top: 84vh;
    right: 15vw;
    font-size: 15px;
    background-color: white;
    border: none;
    color: #7D7272;
    cursor: pointer;
}

#error-message-id{
    color: red;
    font-size: 14px;
    display: none; 
    position: absolute;
    top: 70vh;
    right: 18vw;
}
#error-message-pwd{
    color: red;
    font-size: 14px;
    display: none; 
    position: absolute;
    top: 70vh;
    right: 18vw;
}

#allerror{
    color: red;
    font-size: 14px;
    display: none; 
    position: absolute;
    top: 70vh;
    right: 15vw;
}