@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* font-weight: bold; */
}

html,
body {
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

p{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

#pageoutside{
    width: 100%;
    height: 100%;
}

#pageinside{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* padding: 120px; */
}

.title{
  width: 100%;
  height: 100%;
}

.username_box{
  margin-bottom: 10px;
}

.userphone_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

/* #insert_phone{
    background-color: #F2F2F2;
    border-radius: 5px;
    border:none;
    width: 100%;
    height: 61px;
    padding-left: 10px;
    color: #959595;
} */

.useridpwd_box{
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    width: 100%;
}

#allagree{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.insert{
    background-color: #F2F2F2;
    border-radius: 5px;
    border:none;
    width: 100%;
    height: 61px;
    color: #959595;
}

.insert1{
  background-color: #F2F2F2;
    border-radius: 5px;
    border:none;
    width: 100%;
    height: 61px;
    color: #959595;
    margin-bottom: 10px;
}


.request{
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: #FF5C35;
  border-radius: 25px;
  border:none;
  width: 20%;
  height: 100%;
  padding: 10px;
  color: white;
  cursor : pointer;
}

#insert_birth{
  margin-bottom: 20px;
}

.radiogender{
  margin-bottom: 30px;
}


.joinus_box{
  text-align: center; 
}

#joinus{
  margin-top: 30px;
  background-color: #FF5C35;
  color: white;
  border: none;
  border-radius: 25px;
  width: 300px;
  height: 50px;
  cursor : pointer;
}

#agree_box {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.check{
  margin-bottom: 10px;
}

.view{
  margin-left: auto;
  background-color: white;
  border:none;
  cursor : pointer;
  color: #959595;
  text-decoration: underline;
}

#agree-gap {
  display: flex;
  align-items: center;
  width: 100%;
}

#error_message1{
  display: none;
  color: #FF5C35;
  font-size: 12px;
}


#error_message2{
  display: none;
  color: #FF5C35;
  font-size: 12px;
}

#error_message3{
  display: none;
  color: #FF5C35;
  font-size: 12px;
  margin-top: -10px;
  padding-bottom: 10px;
}

#error_message4{
  display: none;
  color: #FF5C35;
  font-size: 12px;
  margin-top: -10px;
  padding-bottom: 10px;
}

#error_message5{
  display: none;
  color: #FF5C35;
  font-size: 12px;
  margin-top: -10px;
  padding-bottom: 10px;
}

#error_message6{
  display: none;
  color: #FF5C35;
  font-size: 12px;
  margin-top: -20px;
  padding-bottom: 10px;
}

#terms_content1{
  border:1px solid #959595;
  border-radius: 2px;
  display: none;
  padding-left: 2px;
}

#terms_content2{
  border:1px solid #959595;
  border-radius: 2px;
  display: none;
  padding-left: 2px;
}

#terms_content3{
  border:1px solid #959595;
  border-radius: 2px;
  display: none;
  padding-left: 2px;
}

.content{
  font-size: 10px;
  font-weight: lighter;
}
