@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

*{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:#F5EDEB;
}
.info {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 좌우 배치 */
    position: relative;
}

#infomation {
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translateX(-50%); /* 정확한 중앙 정렬 */
    font-weight: bold;
    font-size: 30px;
}

#back {
    position: absolute;
    top: 10vh;
    left: 15vw;
    margin-left: 10px; /* 왼쪽 여백 조정 (필요에 따라 변경) */
    font-weight: bold;
    font-size: 30px;
}

#close{
    top: 10vh;
    position: absolute;
    right: 15vw;
}

#box1{
    width: 17vw;
    height: 1vh;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    position: absolute;
    top: 20vh;
    left: 15vw;
}

#box2{
    width: 17vw;
    height: 1vh;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

#box3{
    width: 17vw;
    height: 1vh;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    position: absolute;
    top: 20vh;
    right: 15vw;
}

#whatyourage{
    position: absolute;
    left: 50%;
    top: 28vh;
    transform: translateX(-50%); /* 정확한 중앙 정렬 */
    font-weight: bold;
    font-size: 30px;
}

#because{
    position: absolute;
    left: 50%;
    top: 40vh;
    transform: translateX(-50%); /* 정확한 중앙 정렬 */
    font-weight: bold;
    font-size: 20px;
    background-color:#F4D8BE;
    border-radius: 10px;
    color: #FF5C35;
}

#age{
    position: absolute;
    top: 50vh;
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    width: 50vw;
    height: 6.5vh;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 6.5vh;
}



#next{
    position: absolute;
    top: 90vh;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #4E5759;
    border-radius: 30px;
    left: 50%;
    width: 10vw;
    height: 5vh;
    line-height: 5vh;
    transform: translateX(-50%);
}